/.phpunit.cache
/node_modules 
/public/hot
/public/storage
/storage/*.key
/vendor
upload.sh
upload.ps1
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
ads.txt
/public/favicon/android-chrome-144x144.png
/public/favicon/apple-touch-icon.png
/public/favicon/browserconfig.xml
/public/favicon/favicon-16x16.png
/public/favicon/favicon-32x32.png
/public/favicon/favicon.ico
/public/favicon/mstile-150x150.png
/public/favicon/site.webmanifest
/public/favicon.ico
